body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #0074d9;
  overflow: hidden;
  padding: 20px 50px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 20px;
}

.header a.Name {
  font-size: 45px;
  font-weight: bold;
  margin-left: 38%;
  font-family: fantasy;
}

/* .header a:hover {
  background-color: white;
  color: black;
} */

.header a.active {
  background-color: white;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.About {
  width: 60%;
  float: left;
  margin-left: 3%;
  height: 800px;
  /* border-style: solid; */
}

.News {
  width: 30%;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  height: 800px;
  border-style: solid;
  border-color: #0074d9;
  border-radius: 2%;
}

.clear {
  clear: both;
}

.logo-image {
  margin-left: 42%;
  margin-top: -4%;
  margin-top: 1%;
}

.summary {
  float: left;
  margin-top: -3%;
  font-size: 20px;
  color: black;
}
