body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #0074d9;
  overflow: hidden;
  padding: 20px 50px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 20px;
}

.header a.Name {
  font-size: 45px;
  font-weight: bold;
  margin-left: 38%;
  font-family: fantasy;
}

.header a.active {
  background-color: white;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.movie-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  height: 60%;
}

.single-movie-container {
  border-style: outset;
  border-radius: 20px;
  margin-bottom: 5%;
  height: 150px;
  background-color: white;
  box-shadow: 6px 10px 15px #0074d9;
}

.image {
  float: left;
  border-radius: 16px;
  width: 120px;
  height: 150px;
}

.info-container {
  text-align: left;
  padding-left: 11%;
  padding-right: 3%;
}

.title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 1%;
  color: #0074d9;
}

.date {
  color: dimgrey;
  padding-bottom: 4%;
}
.info {
  font-style: oblique;
}
